<div class="footer">
  <p class="footer-contribute">
    Want to make a suggestion or improve this page? This content is <a href="{{site.baseurl}}/notices.html">open source</a>. <a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.github.branch }}/{{ page.path }}" rel="nofollow">Help us improve it</a>.
  </p>
  <p class="footer-notice">
    Made with love by <a href="https://flat.io" title="Flat"><img src="https://flat.io/img/logo-f.svg" alt="Flat"></a> <a href="https://github.com/FlatIO/dev-docs/graphs/contributors" rel="nofollow">and contributors</a>.
  </p>
</div>
