<div class="nav">
  <a href="https://flat.io/developers" class="logo"><img src="https://flat.io/img/logo-dev-wtext.svg" alt="Flat Developers Documentation"></a>
  <div class="items">
    <a href="https://flat.io/developers/embed">Embed</a>
    <a href="{{site.baseurl}}/api/">REST API</a>
    <a href="{{site.baseurl}}/import/">Import API</a>
    <a href="https://flat.io/support" onClick="Intercom('show');return false;" id="nav-support">Support</a>
    <a href="https://blog.flat.io/tag/developers/">Blog</a>
    <span class="user-status">
      <a href="https://flat.io/developers/apps" class="user-app">
        <span class="text">My apps</span>
      </a>
    </span>
  </div>
</div>
