---
layout: default
---

<div class="sidenav">
  <div class="items">
    <a href="{{site.baseurl}}/" class="{% if page.pid == 'home' %}active{% endif %}">Overview</a>
  </div>

  <div class="nav-title">Embed</div>
  <div class="items">
    <a href="{{site.baseurl}}/embed/" class="{% if page.pid == 'embed-intro' %}active{% endif %}">Introduction</a>
    <a href="{{site.baseurl}}/embed/getting-started.html" class="{% if page.pid == 'embed-start' %}active{% endif %}">Getting Started</a>
    <a href="https://flat.io/developers/embed/generator">Code generator</a>
    <a href="{{site.baseurl}}/embed/url-parameters.html" class="{% if page.pid == 'embed-url' %}active{% endif %}">URL parameters</a>
    <!-- <a href="{{site.baseurl}}/embed/javascript-api.html">JavaScript API</a> -->
    <a href="{{site.baseurl}}/embed/oembed.html" class="{% if page.pid == 'embed-oembed' %}active{% endif %}">oEmbed</a>
  </div>

  <div class="nav-title">Flat API</div>
  <div class="items">
    <a href="{{site.baseurl}}/api/" class="{% if page.pid == 'api-intro' %}active{% endif %}">Introduction</a>
    <!-- <a href="">OAuth2 Authentication</a> -->
    <!-- <a href="">Getting Started</a> -->
    <a href="https://flat.io/developers/api/reference/">Swagger/OpenAPI Specification</a>
    <a href="https://github.com/FlatIO">SDKs</a>
    <a href="{{site.baseurl}}/api/rate-limits.html" class="{% if page.pid == 'api-rate-limits' %}active{% endif %}">Rate Limits</a>
    <a href="{{site.baseurl}}/api/errors.html" class="{% if page.pid == 'api-errors' %}active{% endif %}">Errors</a>
    <a href="{{site.baseurl}}/api/changelog.html" class="{% if page.pid == 'api-changelog' %}active{% endif %}">API Changelog</a>
  </div>
</div>

<div class="page">
  {% unless page.notitle %}<h1>{{ page.title }}</h1>{% endunless %}
  <div class="content">{{ content }}</div>
</div>
